@media all {
	
	/* UN ELEMENTO UNICO 
		#id {
			color: #333;
		}
	*/ 
	
	/* TODAS LAS TABLAS DEL HTML
		table {
			margin-top: 10px;
		}
	*/

	.btn {
		border-radius: 0px;
	}

	.table--software {
		margin-top: 4rem;
	}
	.board--component h3 {
		font-size: 1.25rem;
	}
	.board--component__container {
		height: 70vh;
		overflow-y: scroll;
		padding-bottom: 1em;
	}
	.checkbox--container {
		display: flex;
	}
	.checkbox--container label {
		margin-bottom: 0;
	}
	.checkbox--container .custom-checkbox {
		margin-left: 0.5rem;
	}
}